.bank-dropdown {
  position: absolute;
  width: 100%;
  background-color: var(--white-color);
  color: var(--primary-color);
  list-style: none;
  border-radius: 2px;
  padding: 0px;
  z-index: 20;
}
.bank-dropdown li:hover {
  cursor: pointer;
}
.bank-dropdown li {
  letter-spacing: 1px;
  padding: 2px 3px;
}
.bank-btn {
  width: 120px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 3px;
  border: none;
  padding: 3px;
}
