.form-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: var(--black-color);
}

.form-register > div {
  display: flex;
  justify-content: space-between;
}

.form-register > div > input {
  color: var(--black-color);
  width: 350px;
  border: 1px solid var(--black-color);
}

.form-register > div > label {
  font-size: 1.4rem;
}

.form-register > button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px;
  align-self: center;
}
