h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calculate-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  letter-spacing: 1px;
  margin: 50px auto;
}

.calculate-form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}

.calculate-form > div > input {
  width: 400px;
  font-size: 1.3rem;
}
.loan-result-container {
  display: flex;
  justify-content: space-around;
}

.loan-result-container > div {
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 10px;
  margin-left: 16%;
}

.helper {
  width: 200px;
}

.loan-result-container > div > p:last-of-type {
  font-weight: 800;
  color: var(--primary-color);
}

span {
  font-family: "Square Peg", cursive;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 800;
}
