.btn-create {
  text-align: center;
  margin-top: 1.2rem;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: 3px 3px 3px var(--black-color);
  width: 80%;
  letter-spacing: 1px;
  margin: 50px auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}

.list-item > div {
  margin: 1.2rem;
}
.list-item > div:nth-of-type(6) {
  margin-left: 40px;
}

.column {
  font-family: "Square Peg", cursive;
  font-size: 1.6rem;
  gap: 2.2rem;
  justify-content: flex-start;
  margin-left: 10px;
}

.column > div {
  margin: 10px;
}

.column > div:last-of-type {
  margin-left: -18px;
}
