form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  gap: 0.7rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 10px;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form > div > input {
  font-size: 1.1rem;
  width: 300px;
}
form > button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Square Peg", cursive;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 1px solid transparent;
  box-shadow: 1px 2px 3px var(--black-color);
  padding: 0.6rem;
  margin: 0 auto;
}
