.header-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Square Peg", cursive;
  font-size: 1.3rem;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 5px;
  margin: -0.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 0;
  margin: -0.5rem;
}

.logo-container > img {
  max-height: 65px;
  height: 100%;
  margin-bottom: -5px;
}
.btn-login {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn-login > button {
  font-family: "Square Peg", cursive;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  border: 1px solid transparent;
  box-shadow: 1px 2px 3px var(--black-color);
  letter-spacing: 3px;
  padding: 0.6rem;
  margin-right: 1rem;
}
