.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn-container > a {
  text-decoration: none;
}

.btn-container > button,
.btn-container > a,
.btn-create > button {
  font-family: "Square Peg", cursive;
  font-weight: 700;
  color: var(--secondary-color);
  text-transform: uppercase;
  border: 1px solid transparent;
  box-shadow: 1px 2px 3px var(--black-color);
  letter-spacing: 3px;
  padding: 0.6rem;
}

.btn-create > button {
  background-color: var(--primary-color);
}

.blue {
  background-color: var(--third-color);
}

.green {
  background-color: var(--primary-color);
}

.red {
  background-color: var(--fourth-color);
}
