@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3e757a;
  --secondary-color: white;
  --third-color: #0b5786c9;
  --fourth-color: #ec2a35ba;
}
